<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="align-items: center; display: flex;">
          <a class="nav-link" aria-current="page" href="/" style="display: flex; align-items: center; margin-right: 10px;">
            <img height="50px" src="/logo.png" alt="Logo" style="margin-right: 10px;">
          </a>
          <a class="nav-link" style="align-self: center; margin-right: 10px;" href="/">Home</a>
          <a class="nav-link" style="align-self: center; margin-right: 10px;" href="/listings">All Listings</a>
          <a class="nav-link" style="align-self: center;" href="/listings/new">Add new Listing</a>
        </div>
      </div>
    </div>
</nav>
